 ..................................................................................................
 ........................^:........................................................................
 .......................^#@&#BP?~:.........................J~.....^:...............................
 .......................B@@@@@@@@&#5!:?!..................!&B:.:?G#~...............................
 ......................:@@@@@@&@@@@@@&@@B~...............~#&&YP#&&#:..~5J..........................
 ......................^@@@@@@#!?B@@@@@@@&7::^^~~~~^....!#&&&&&&&&B~YB&&7..........................
 ......................^@@@@@@@#:.^G@@@@@@@&@@@@@#J^....5&&&&&&&&&&&&&&#^..::......................
 ......................:&@@@@#PP~..:P@@@@@@@@@@@GPGJ.....!P#&&&&&&&&&&&#5GBG7......................
 .......................G@@@@@B~:!P&@@@@@@@@@@@@@@@7.......^JG#&&&&&&&&&&&Y:.......................
 .......................~@@@@@@@&@@@@@@@@@@@@@@@@@&:..........:75B#&&&&&#7.........................
 ........................5@@@@@@@@@@@@@@@@@@@@@@@@B...............:~7JY5~..........................
 ........................:#@@@@@@@@@@@@@@@@@@@@@@@J................................................
 ......................^Y#@@@@@@@@@@@@@@##@@@@@@@@~.......................~7^......................
 .....................?&@@@@@@@@@&PJ777?7:Y@@@@@@&:......................~5GG?.....................
 ....................?#@@@@@@@@G~..........Y@@@@@#.......................:JB5~.....................
 .................:J#@@@@@@@@#~............:#P@@@G.........................^G&#J:..................
 ................^JYB@@@@@@@B:......^^^.....::&@@Y..........:^^:.............?@@&Y:................
 ..................?@@@@@@@&:......Y@@@&G~....&@@7........Y&@@@#:...........:P@@Y::................
 ...................!B@@@@@J........7P##B!...!@@@!.......:G##BY^..........:J##5^...................
 .....................^5#@@~................~&@@@~......................:75J~......................
 ........................^7:..............^Y@@@@@^......................:..........................
 .......................................7B@@@@@@@^.................................................
 .....................................?&@@@@@@@@@!:................................................
 ....................................~@@@@@@@#PYJ77!^..............................................
 ....................................^&@@@@@@!.....................................................
 .....................................:Y&@@@@@7....................................................
 ........................................^7YPPJ....................................................
 ..................................................................................................
 ............................JJ:.....JJ:..:YYYYYY7.:7Y5Y~.:JJ^..!Y7..~J5Y?:........................
 ...........................G@@#:...:@@~..:Y5@@BY?.B@B?Y!..?&&?5@#~.?@@YJJ:........................
 ..........................P@G5@#:..:@@~.....&@?...Y&&B5~...^#@@P:..~#&#P?:........................
 .........................5@@BG@@B:.:@@!.....&@?...:~~J@@?...!@&:....~~!#@#........................
 ........................?&B!~~~P@P.:&@&##~..#@?...P&##&B^...~@&:...7###&&?........................
 ........................:^......^^..:^^^^...:^.....:^^:......^:.....:^^^..........................
 ..................................................................................................
 ..................................................................................................
 
 ____________________________________
/ Si necesitas ayuda, contáctame en  \
\ https://www.altsys.es              /
 ------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
